.float-right {
	float: right;
}

.text-center {
	text-align: center;
}

.margin-32 {
	margin: 32px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.flex {
	display: flex;
}

.justify-space-bw {
	justify-content: space-between;
}
